<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="./static/css/{{stylesheet}}.css">
    <link rel="icon" href="./static/imgs/common/favicon.png">
    {{>test}}
</head>
<body>
{{> header}}
{% body %}
{{> footer}}
</body>
</html>
<script src="./static/js/lib/jquery.1.9.1.js"></script>
{{#if otherjs}}
    <script src="./static/js/lib/{{otherjs}}.js"></script>
{{/if}}
<script src="./static/js/{{script}}.js"></script>